﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Minesweeper</h1>

    <h4>Backend</h4>
    <p>Read the backend <a href="/swagger/">RESTful api docs!</a></p>

    <h4>Frontend</h4>
    <p>
        <a href="http://minesweeperclient2020v1.azurewebsites.net/">Web done in Aurelia!</a>
    </p>

    <h4>Project documentation & Datamodel</h4>
    <p>
        <a href="https://drive.google.com/drive/folders/1PIYvE8Jj-Tr7lQqfU8cok39fFNvTbt3J?usp=sharing">Link to Google Drive!</a>
    </p>
    
</div>